<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Site</h1></a>
    <p>Updated blog is here</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/create">Create</a></li>
  </ul>
</nav>
